# En: backend/requirements.txt

fastapi
uvicorn[standard]
SQLAlchemy
pydantic
python-multipart
soundfile
google-cloud-speech
psycopg2-binary
google-generativeai # <-- Agregada para la integración del LLM
httpx
aiosqlite # <-- AÑADIDO
# CORRECCIÓN: Añadimos el driver asíncrono para PostgreSQL
asyncpg

# CORRECCIÓN FINAL: Usamos el modelo PEQUEÑO (sm), el más liviano de todos,
# para asegurar que la app arranque sin problemas en el plan gratuito de Render.
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0.tar.gz