# En: backend/requirements.txt

fastapi
uvicorn[standard]
SQLAlchemy
pydantic
python-multipart
soundfile
google-cloud-speech
spacy

# CORRECCIÓN: Se reemplaza el modelo grande (lg) por el mediano (md),
# que es mucho más eficiente en memoria para el despliegue.
https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0.tar.gz